body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  gap: 20px !important;

  background-color: rgb(255, 172, 70);
}

.mainbox{
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  align-items: center;
  align-content: center;
  padding: 20px;
  
  background-color: whitesmoke;
  font-family: 'Arial';
}

.controles-rol{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
  .control-rol__label{
    padding: 5px;
    font-size: 150%;
    border-width: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: gray;
  }
  .control-rol__label-active{
    background-color: rgb(202, 162, 52);
  }

.form{
  font-size: 150%;
}
  .control__label{
    color: rgb(156, 153, 153);
    font-weight: bold;
  }
  .control__input{
    height: 40px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(156, 153, 153);
    border-width: 2px;
    background: transparent;
    outline: none;
    color: rgb(53, 53, 53);
    font-size: 15px;
  }
  .submit{
    background-color: rgb(165, 106, 42);
    font-size: 90%;
    border-radius: 20px;
    color: rgb(245, 203, 120);
    border-color: rgb(245, 203, 120);;
    cursor: pointer;
    padding: 2px 10px;
  }
  .submit:hover{
    background-color: rgb(245, 203, 120);
    color: white;
  }

