body{
    background-color: rgb(255, 172, 70);
}

.mainbox{
	position: relative;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1000px;
    background-color: whitesmoke;
    border-radius: 30px;
    font-family: 'Arial';
}

.mainselect{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 20%;
  font-size: 150%;
  border-width: 5px;
  border-radius: 20px;
  cursor: pointer;
}

#librarianbtn{
  background-color: rgb(165, 106, 42);
  color: rgb(245, 203, 120);
  border-color: rgb(245, 203, 120);
}

#professorbtn{
  background-color: rgb(0, 102, 255);
  color: rgb(255, 230, 37);
  border-color: rgb(255, 230, 37);
}

#studentbtn{
  background-color: rgb(27, 170, 72);
  color: rgb(37, 197, 255);
  border-color: rgb(37, 197, 255);
}

#librarianbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}


#professorbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}


#studentbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

.insideform{
	position: absolute;
	margin-left: 10%;
	margin-top: 7%;
	font-size: 150%;
}

#sbmbtn{
	position: absolute;
	margin-top: 30%;
  margin-left: 120%;
  height: 20%;
  width: 40%;
	background-color: rgb(165, 106, 42);
  color: rgb(245, 203, 120);
  font-size: 90%;
  border-radius: 20px;
  border-width: 5px;
  border-color: rgb(245, 203, 120);;
  cursor: pointer;
}

#sbmbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
}

label{
  color: rgb(156, 153, 153);
  font-weight: bold;
}

.input{
  margin-bottom: 10%;
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(156, 153, 153);
  border-width: 2px;
  background: transparent;
  outline: none;
  color: rgb(53, 53, 53);
  font-size: 15px;
}

