/* Programando el color del fondo de la página, usando la etiqueta body, ya que es la etiqueta que contiene todo lo visible*/

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  gap: 20px !important;
  background-image: url(../../img/libreria-fondo.jpg);
}

.mainbox{
	position: relative;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 600px;
    background-color: rgba(245, 245, 245, 0.87);
    border-radius: 30px;
    font-family: 'Cambria';
}

.mainselect{
  margin-top: 5%;
  height: 45px;
  width: 30%;
  font-size: 150%;
  border-width: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Cambria';
}

.Message{
	position: absolute;
	margin-top: 25%;
	margin-left: 12%;
  color: rgb(156, 153, 153);
	font-size: 400%;
  font-weight: bold;
}

#librarianbtn{
  background-color: rgb(165, 106, 42);
  color: rgb(245, 203, 120);
  border-color: rgb(245, 203, 120);
}

#professorbtn{
  background-color: rgb(0, 102, 255);
  color: rgb(255, 230, 37);
  border-color: rgb(255, 230, 37);
}

#studentbtn{
  background-color: rgb(27, 170, 72);
  color: rgb(37, 197, 255);
  border-color: rgb(37, 197, 255);
}

/* :hover, pseudo-clase que funciona posicionando el cursor  sobre un elemento*/

#librarianbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

/* Programando características a todos los labels utilizando directamente la etiqueta HTML sin clases ni ides */

#professorbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

#studentbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

.insideform{
	position: absolute;
	margin-left: 15%;
	margin-top: 10%;
	font-size: 150%;
}

.sbmbtn{
  margin-top: 15%;
  margin-left: 55%;
  height: 40px;
  width: 120px;
  background-color: rgb(165, 106, 42);
  color: rgb(245, 203, 120);
  font-size: 90%;
  border-radius: 20px;
  border-width: 5px;
  border-color: rgb(245, 203, 120);;
  cursor: pointer;
}

#sbm-2{
  background-color: rgb(0, 102, 255);
  color: rgb(255, 230, 37);
  border-color: rgb(255, 230, 37);
}

#sbm-3{
  margin-top: 13.3%;
  margin-left: 51.3%;
  background-color: rgb(27, 170, 72);
  color: rgb(37, 197, 255);
  border-color: rgb(37, 197, 255);
}

.sbmbtn:hover{
  background-color: rgb(245, 203, 120);
  color: white;
}

#sbm-2:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

#sbm-3:hover{
  background-color: rgb(245, 203, 120);
  color: white;
  border-color: rgb(245, 203, 120);
}

label{
  color: rgb(156, 153, 153);
  font-weight: bold;
}

/* Declarando las cajas de los formularios en oculto con la propiedad display*/

.lib-form-box{
	display: none;
}

.pfs-form-box{
	display: none;
}

.std-form-box{
	display: none;
}

.input{
  margin-bottom: 10%;
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(156, 153, 153);
  border-width: 2px;
  background: transparent;
  outline: none;
  color: rgb(53, 53, 53);
  font-size: 15px;
}

  .control__label{
    color: rgb(156, 153, 153);
    font-weight: bold;
  }

  .control__input{
    height: 40px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(156, 153, 153);
    border-width: 2px;
    background: transparent;
    outline: none;
    color: rgb(53, 53, 53);
    font-size: 15px;
  }

  .submit{
    background-color: rgb(165, 106, 42);
    font-size: 90%;
    border-radius: 20px;
    color: rgb(245, 203, 120);
    border-color: rgb(245, 203, 120);;
    cursor: pointer;
    padding: 2px 10px;
  }
  
  .submit:hover{
    background-color: rgb(245, 203, 120);
    color: white;
  }

