.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  width: 100%;
  background-color: rgba(165, 106, 42, 0.808);
  color: yellow;
  font-family: 'Consolas';
}

.text{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: yellow;
}

.web-icon{
	filter:  saturate(6000%) sepia(120%) brightness(120%);
	cursor: pointer;
}
