nav{
  display: flex;
  justify-content: center;
	background-color: rgba(245, 203, 120, 0.616);
  padding: 10px;
  margin: 0;
  gap: 10px;
  border-bottom: 3px solid black;
  outline: none;

}
.link{
  margin: 0;
  padding: 10px;
  background-color: rgba(104, 61, 15, 0.822);
  color: white;
	font-size: 130%;
	font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
	text-decoration: none;
  outline: none;

}
.link:hover, .link:focus{
  transition: all .3s;
  background-color: rgba(104, 61, 15);
}
