*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  background-image: url("../img/books.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: bisque;

  justify-content: center;
  align-content: center;
}
.librarian__name{
  color: white;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: right;
  text-shadow: 0px 0px 7px #000;
  letter-spacing: 2px;
}
.title{
  text-align: center;
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
  text-shadow: 0px 0px 10px black;
  margin-top: -20px;
  margin-bottom: 10px;
}
table{
  margin-top: 15px;
}
.switch-field {
	display: flex;
  justify-content: center;
	overflow: hidden;
  margin-bottom: 5px;
}
.switch-field__input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field__label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 8px 16px;
	border: 1px solid black;
	transition: all 0.1s;
  font-family: 'Courier New', Courier, monospace;
}
.switch-field__label:hover {
	cursor: pointer;
}
.switch-field__input:checked + label {
	background-color: #d6ff8b;
	box-shadow: none;
}
.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.switch-field__name {
	font-size: 18px;
	margin-bottom: 8px;
}
.form_searching{
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.message{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: bold;
  text-shadow: 0px, 0px, 10px black;
  background-color: rgba(51, 51, 51, 0.644);
  padding: 10px;
}
.entities_form{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.form__name{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.line{
  width: 60%;
  border: solid white 1px;
}
span{
  display: flex; flex-direction: column;
}
.control__label{
  color: white;
  text-shadow: 0px 0px 10px black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.control__input{
  width: 130px;
  height: 25px;
  border-radius: 7px;
  background-color: white;
  padding: 5px;
  color: black;
  border: 1px solid black;
  outline: none;
  text-align: center;
}
.title-col{
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
}
.values_record{
  text-align: center;
  padding: 2px;
  background-color: #e4e4e4;
  color: black;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
.btn{
  font-size: 15px;
  background-color:#552c07;
  border: 2px solid #6a3605;
  border-radius: 5px;
  color: #fff;
  font-family:'Times New Roman', Times, serif;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 35px;
  margin: 10px;
}
.btn:hover{
  border: 2px solid #fff;
  color: #fff;
  transition: 0.5s;
}
.boxes{
  display: flex;
  justify-content: space-between;
}
.box-number{
  height: 30px;
  width: 30px;
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
  margin: 20px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.box-number:hover{
  background-color: rgb(148, 148, 148);
}
