*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	background-color: rgba(165, 106, 42, 0.808);
    width: 100%;
}

.tthead-container{
	text-align: center;
}

.title{
	margin-top: 0.5%;
	color: yellow;
	font-size: 150%;
	font-family: 'Buxton Sketch';
}

.ttlibrary{
	color: yellow;
	font-size: 300%;
	font-family: 'Blackadder ITC';
}
